body {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}
h1 {
    color: black;
}

p {
    font-size: 16px;
}

p.sans-serif {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 25px;

}
